:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 842px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.rectangle {
  position: absolute;
  width: 1440px;
  height: 1337px;
  top: -13px;
  right: 0;
  background: #f2fedc;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 11.137px;
  position: relative;
  width: 1029px;
  margin: 47px 0 0 205px;
  z-index: 1;
}
.video-explicativo-petwellness {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 1008px;
  height: 66px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 60px;
  font-weight: 600;
  line-height: 66px;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
}
.main-features-benefits {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 1029px;
  height: 78px;
  color: #717171;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  z-index: 3;
}
.rectangle-1 {
  position: relative;
  width: 962px;
  height: 390px;
  margin: 25.863px 0 0 235px;
  background: #ffffff;
  border: 10px solid #000000;
  z-index: 4;
  box-sizing: content-box;
}

.rectangle-1 iframe {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, hr, p, figure {
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    border-width: 0;
    opacity: 1;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

button {
    background-color: transparent;
    border: none;
    display: block;
    padding: 0;
    margin: 0;
    align-items: normal;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.page-header {
    z-index: 10000;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.sticking {
    margin: 0 !important;
    z-index: 10000 !important;
}

@media (max-width: 99999px) {
    .max\:show {
        display: flex;
        flex-direction: column;
    }

    .xxxl\:show {
        display: none;
    }

    .xxl\:show {
        display: none;
    }

    .xl\:show {
        display: none;
    }

    .lg\:show {
        display: none;
    }

    .md\:show {
        display: none;
    }

    .sm\:show {
        display: none;
    }

    .xs\:show {
        display: none;
    }

    .xxs\:show {
        display: none;
    }

    .tn\:show {
        display: none;
    }

    .max\:hide {
        display: none;
    }
}

@media (max-width: 2999px) {
    .xxxl\:show {
        display: flex;
        flex-direction: column;
    }

    .xxxl\:hide {
        display: none;
    }
}

@media (max-width: 1919px) {
    .xxl\:show {
        display: flex;
        flex-direction: column;
    }

    .xxl\:hide {
        display: none;
    }
}

@media (max-width: 1399px) {
    .xl\:show {
        display: flex;
        flex-direction: column;
    }

    .xl\:hide {
        display: none;
    }
}

@media (max-width: 1199px) {
    .lg\:show {
        display: flex;
        flex-direction: column;
    }

    .lg\:hide {
        display: none;
    }
}

@media (max-width: 991px) {
    .md\:show {
        display: flex;
        flex-direction: column;
    }

    .md\:hide {
        display: none;
    }
}

@media (max-width: 767px) {
    .sm\:show {
        display: flex;
        flex-direction: column;
    }

    .sm\:hide {
        display: none;
    }
}

@media (max-width: 575px) {
    .xs\:show {
        display: flex;
        flex-direction: column;

    }

    .xs\:hide {
        display: none;
    }
}

@media (max-width: 480px) {
    .xxs\:show {
        display: flex;
        flex-direction: column;
    }

    .xxs\:hide {
        display: none;
    }
}

@media (max-width: 384px) {
    .tn\:show {
        display: flex;
        flex-direction: column;
    }

    .tn\:hide {
        display: none;
    }
}


@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
font-family: "FontAwesome";
font-weight: normal;
font-style: normal;
src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
    format("embedded-opentype"),
  url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0")
    format("woff2"),
  url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0")
    format("woff"),
  url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0")
    format("truetype"),
  url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
    format("svg");
}


.navbar{
background-color: #e7efb3;
position: relative;
display: flex;
flex-direction: column;
filter: drop-shadow(0px 5px 15px rgba(171, 190, 209, 0.5));
}
.header__logoBox {
position: relative;
display: flex;
flex-direction: column;
margin: 0px auto;
width: 100%;
max-width: 1440px;
background: var(--src) center center/cover no-repeat;
}
@media (min-width: 1920px) and (max-width: 2999px) {
.header__logoBox {
  max-width: 100%;
}
}
.menu {
list-style: none;
position: relative;
display: flex;
justify-content: space-between;
gap: 0px 10px;
margin: 4px 29px 2px;
}

.menu a {
text-decoration: none;
}

@media (max-width: 1399px) {
.menu {
  margin: 4px auto 2px;
}
}
@media (max-width: 1199px) {
.menu {
  flex-direction: column;
  align-items: center;
  gap: 30px 10px;
}
}
.header__logoImage {
position: relative;
width: 218px;
min-width: 0px;
cursor: pointer;
-o-object-fit: cover;
object-fit: cover;
}
@media (max-width: 1199px) {
.header__logoImage {
  margin-top: unset;
  margin-bottom: unset;
  width: 100%;
  min-width: unset;
  max-width: 218px;
}
}
.lista {
position: relative;
display: flex;
justify-content: center;
margin: 27px 0px 30px;
font: 500 15px/1.11 "Inter", Helvetica, Arial, serif;
color: black;
text-align: center;
cursor: pointer;
letter-spacing: -0.31px;
transition: color 0.3s;
}

.lista:hover {
color:#00ad97
}

@media (min-width: 1920px) and (max-width: 2999px) {
.lista {
  align-items: flex-start;
  font-size: 15px;
}
}
@media (max-width: 1399px) {
.lista {
  align-items: flex-start;
  font-size: 15px;
}
}
@media (max-width: 1199px) {
.lista {
  margin-top: unset;
  margin-bottom: unset;
  width: 100%;
}
}
.header__loginLink {
position: relative;
display: flex;
justify-content: center;
margin: 28px 0px 29px;
font: 600 15px/1.11 "Inter", Helvetica, Arial, serif;
color: #7f9c00;
text-align: center;
}
@media (min-width: 1920px) and (max-width: 2999px) {
.header__loginLink {
  align-items: flex-start;
  font-size: 15px;
}
}
@media (max-width: 1399px) {
.header__loginLink {
  align-items: flex-start;
  font-size: 15px;
}
}
@media (max-width: 1199px) {
.header__loginLink {
  margin-top: unset;
  margin-bottom: unset;
  width: 100%;
}
}
.header__registerButton {
position: relative;
display: flex;
justify-content: center;
align-items: center;
gap: 0px 5px;
margin: 18px 0px 20px;
min-width: 153px;
background-color: #00ad97;
border-radius: 2.784277916px 2.784277916px 2.784277916px 2.784277916px;
padding: 9.5px 22px 9.5px 33.5px;
transition: color 3s;
}
.header__registerButton:hover{
background-color: #00ECCE;
}

@media (max-width: 1199px) {
.header__registerButton {
  margin-top: unset;
  margin-bottom: unset;
  width: 100%;
  min-width: unset;
}
}
.header__registerButtonText {
position: relative;
display: flex;
justify-content: center;
align-items: center;
min-width: 0px;
font: 800 15px/1.11 "Inter", Helvetica, Arial, serif;
color: white;
text-align: center;
}
.header__registerButtonIcon {
position: relative;
margin: 3px 0px;
width: 11px;
min-width: 0px;
height: 11px;
}

.pet-wellness.main {
position: relative;
display: flex;
flex-direction: column;
background-color: #f2fedc;
overflow: hidden;
}
.pet-wellness .component {
position: relative;
display: flex;
flex-direction: column;
}
.pet-wellness .inicio {
position: relative;
display: flex;
flex-direction: column;
}
.pet-wellness .contentContainer {
position: relative;
display: flex;
justify-content: space-between;
gap: 0px 10px;
margin: 82px auto 142px;
width: 86.53%;
max-width: 1246.0227050781px;
}
@media (max-width: 1199px) {
.pet-wellness .contentContainer {
  flex-direction: column;
  align-items: center;
  gap: 30px 10px;
}
}
@media (max-width: 575px) {
.pet-wellness .contentContainer {
  margin: 80px auto;
}
}
@media (max-width: 383px) {
.pet-wellness .contentContainer {
  margin: 50px auto;
}
}
.pet-wellness .textContainer {
position: relative;
display: flex;
flex-direction: column;
gap: 22px 0px;
margin: 91px 0px 56px;
width: 755px;
min-width: 0px;
}
@media (max-width: 1199px) {
.pet-wellness .textContainer {
  margin-top: unset;
  margin-bottom: unset;
  width: 100%;
  min-width: unset;
}
}
.pet-wellness .descriptionContainer {
position: relative;
display: flex;
flex-direction: column;
gap: 11px 0px;
}
.pet-wellness .heroTitleBox_box {
position: relative;
min-width: 0px;
}
@media (max-width: 991px) {
.pet-wellness .heroTitleBox_box {
  align-items: flex-start;
}
}
.pet-wellness .heroTitleBox {
font: 600 60px/1.1 "Inter", Helvetica, Arial, serif;
color: black;
}
@media (max-width: 991px) {
.pet-wellness .heroTitleBox {
  font-size: 52px;
}
}
@media (max-width: 479px) {
.pet-wellness .heroTitleBox {
  font-size: 36px;
}
}
.pet-wellness .heroTitleBox_span0 {
font: 600 1em/1.1 "Inter", Helvetica, Arial, serif;
}
.pet-wellness .heroTitleBox_span1 {
font: 600 1em/1.1 "Inter", Helvetica, Arial, serif;
color: #b0d800;
}
.pet-wellness .heroTitleBox_span2 {
font: 800 1em/1.1 "Inter", Helvetica, Arial, serif;
color: #b0d800;
}
.pet-wellness .heroTitleBox_span3 {
font: 600 1em/1.1 "Inter", Helvetica, Arial, serif;
color: #b0d800;
}
.pet-wellness .mediumTitle {
position: relative;
min-width: 0px;
font: 400 24px/1.08 "Inter", Helvetica, Arial, serif;
color: #717171;
}
@media (max-width: 991px) {
.pet-wellness .mediumTitle {
  align-items: flex-start;
  font-size: 22px;
}
}
@media (max-width: 479px) {
.pet-wellness .mediumTitle {
  font-size: 20px;
}
}
.pet-wellness .registerButton {
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 125px;
min-width: 0px;
max-width: 100%;
font: 800 15px/1.11 "Inter", Helvetica, Arial, serif;
color: white;
text-align: center;
background-color: #00ad97;
border-radius: 2.784277916px 2.784277916px 2.784277916px 2.784277916px;
padding: 15px 22px 15px 22px;
transition: color 0.9s;
}
.pet-wellness .registerButton:hover{
background-color: #00ECCE;
}
.pet-wellness .imageWrapper {
position: relative;
display: flex;
flex-direction: column;
width: 401px;
min-width: 0px;
}
@media (max-width: 1199px) {
.pet-wellness .imageWrapper {
  margin-top: unset;
  margin-bottom: unset;
  width: 100%;
  min-width: unset;
}
}
.pet-wellness .imageContainer {
position: relative;
display: flex;
flex-direction: column;
min-height: 437px;
}
.pet-wellness .imagePrimary {
position: absolute;
top: 0px;
left: 80.9943237305px;
width: 93px;
height: 94px;
}
.pet-wellness .coverImage {
position: absolute;
top: 35.9943161011px;
left: 50%;
width: 400.99px;
height: 401px;
transform: translate(-50%, 0);
}
.pet-wellness .supportingImage1 {
position: absolute;
bottom: 26.9886169434px;
left: 0.9943237305px;
width: 111.99px;
height: 97px;
}
.pet-wellness .supportingImage2 {
position: absolute;
right: 21.9886837006px;
bottom: 50px;
width: 20.99px;
height: 67px;
}
.pet-wellness .aboutSection {
position: relative;
display: flex;
align-items: center;
justify-content: center;
background: var(--src) center center/cover no-repeat;
}

@media (max-width: 1199px) {
.pet-wellness .aboutSection {
  flex-direction: column;
  align-items: center;
  gap: 30px 72px;
}
}
.pet-wellness .aboutContainer {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
gap: 46px 0px;
margin: 137px 0px 26px 30px;
width: 857px;
min-width: 0px;
max-width: 856.9885864258px;
padding: 0px;
}
@media (max-width: 1199px) {
.pet-wellness .aboutContainer {
  margin: 0px 0px 0px 30px;
  width: 100%;
  min-width: unset;
}
}
@media (max-width: 991px) {
.pet-wellness .aboutContainer {
  margin: 0px auto;
}
}
.pet-wellness .aboutImage {
position: relative;
width: 482.9971313477px;
max-width: 85%;
-o-object-fit: cover;
object-fit: cover;
}
.pet-wellness .aboutContentContainer {
position: relative;
display: flex;
flex-direction: column;
width: 100%;
padding: 0px;
}
@media (max-width: 991px) {
.pet-wellness .aboutContentContainer {
  padding: 0px 20px 0px 20px;
}
}
.pet-wellness .aboutTitle {
position: relative;
margin: 0px 1px 0px 0px;
font: 400 24px/1.16 "Rubik", Helvetica, Arial, serif;
color: #7f9c00;
letter-spacing: -0.15px;
}
@media (max-width: 1399px) {
.pet-wellness .aboutTitle {
  margin: 0px auto 0px 0px;
}
}
@media (max-width: 991px) {
.pet-wellness .aboutTitle {
  align-items: flex-start;
  padding: 0px 0px 0px 0px;
  font-size: 22px;
}
}
@media (max-width: 479px) {
.pet-wellness .aboutTitle {
  font-size: 20px;
}
}
.pet-wellness .aboutLineDivider {
position: relative;
margin: 6px 0px 0px;
width: 20px;
max-width: 85%;
min-height: 3px;
background-color: #7f9c00;
}
.pet-wellness .aboutParagraph {
position: relative;
margin: 8px 0px 0px;
width: auto;
font: 400 32px/1.18 "Inter", Helvetica, Arial, serif;
color: #7f9c00;
padding: 0px;
letter-spacing: 2px;
opacity: 0.64;
}
@media (max-width: 991px) {
.pet-wellness .aboutParagraph {
  align-items: flex-start;
  font-size: 30px;
}
}
@media (max-width: 479px) {
.pet-wellness .aboutParagraph {
  font-size: 26px;
}
}
.pet-wellness .missionVisionContainer {
position: relative;
display: flex;
flex-direction: column;
width: 481px;
min-width: 0px;
max-width: 480.9942932129px;
}
@media (max-width: 1199px) {
.pet-wellness .missionVisionContainer {
  margin-top: unset;
  margin-bottom: unset;
  width: 100%;
  min-width: unset;
}
}
.pet-wellness .missionContainer {
position: relative;
display: flex;
flex-direction: column;
background: var(--src) center center/cover no-repeat;
border-radius: 4px 4px 4px 4px;
padding: 165px 30px 28px 31px;
}
@media (max-width: 991px) {
.pet-wellness .missionContainer {
  padding: 150px 30px 28px 31px;
}
}
@media (max-width: 575px) {
.pet-wellness .missionContainer {
  padding: 80px 16px 28px 16px;
}
}
@media (max-width: 383px) {
.pet-wellness .missionContainer {
  padding: 50px 8px 28px 8px;
}
}
.pet-wellness .missionTitle {
position: relative;
font: 400 24px/1.16 "Rubik", Helvetica, Arial, serif;
color: white;
letter-spacing: -0.15px;
}
@media (max-width: 991px) {
.pet-wellness .missionTitle {
  align-items: flex-start;
  font-size: 22px;
}
}
@media (max-width: 479px) {
.pet-wellness .missionTitle {
  font-size: 20px;
}
}
.pet-wellness .missionLineDivider {
position: relative;
margin: 5px 0px 0px;
width: 20px;
max-width: 85%;
min-height: 3px;
background-color: white;
}
.pet-wellness .missionParagraph {
position: relative;
margin: 1px 0px 0px;
font: 500 13px/1.53 "Inter", Helvetica, Arial, serif;
color: white;
letter-spacing: 2px;
}
@media (max-width: 991px) {
.pet-wellness .missionParagraph {
  padding: 0px;
}
}
.pet-wellness .visionContainer {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
background: var(--src) center center/cover no-repeat;
border-radius: 4px 4px 4px 4px;
padding: 5px 30px 11px 31px;
}
@media (max-width: 575px) {
.pet-wellness .visionContainer {
  padding: 5px 16px 11px 16px;
}
}
@media (max-width: 383px) {
.pet-wellness .visionContainer {
  padding: 5px 8px 11px 8px;
}
}
.pet-wellness .visionImage {
position: relative;
width: 156.9886322021px;
max-width: 85%;
-o-object-fit: cover;
object-fit: cover;
}
.pet-wellness .visionContentContainer {
position: relative;
display: flex;
flex-direction: column;
width: 100%;
}
.pet-wellness .visionTitle {
position: relative;
font: 400 24px/1.16 "Rubik", Helvetica, Arial, serif;
color: white;
letter-spacing: -0.15px;
}
@media (max-width: 991px) {
.pet-wellness .visionTitle {
  align-items: flex-start;
  font-size: 22px;
}
}
@media (max-width: 479px) {
.pet-wellness .visionTitle {
  font-size: 20px;
}
}
.pet-wellness .visionLineDivider {
position: relative;
margin: 5px 0px 0px;
width: 20px;
max-width: 85%;
min-height: 3px;
background-color: white;
}
.pet-wellness .visionParagraph {
position: relative;
margin: 1px 0px 0px;
font: 500 13px/1.53 "Inter", Helvetica, Arial, serif;
color: white;
letter-spacing: 2px;
}
.pet-wellness .careInfoSection {
position: relative;
display: flex;
flex-direction: column;
background-color: #E7EFB3;
}
.pet-wellness .flexCol {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
margin: 118px auto 74px;
width: 1111.9602050781px;
max-width: 85%;
}
@media (max-width: 575px) {
.pet-wellness .flexCol {
  margin: 80px auto 74px;
}
}
@media (max-width: 383px) {
.pet-wellness .flexCol {
  margin: 50px auto;
}
}
.pet-wellness .flexRow {
position: relative;
display: flex;
gap: 0px 5px;
width: 56.0369300842px;
max-width: 85%;
}
.pet-wellness .logoImage1 {
position: relative;
width: 15px;
height: 15px;
-o-object-fit: cover;
object-fit: cover;
}
.pet-wellness .logoImage2 {
position: relative;
width: 15px;
height: 15px;
-o-object-fit: cover;
object-fit: cover;
}
.pet-wellness .logoImage3 {
position: relative;
width: 15px;
height: 15px;
-o-object-fit: cover;
object-fit: cover;
}
.pet-wellness .mainImage1 {
position: relative;
margin: 99px 0px 0px;
width: 771.9176025391px;
max-width: 85%;
-o-object-fit: cover;
object-fit: cover;
}
@media (max-width: 575px) {
.pet-wellness .mainImage1 {
  margin: 80px 0px 0px;
}
}
@media (max-width: 383px) {
.pet-wellness .mainImage1 {
  margin: 50px 0px 0px;
}
}
.pet-wellness .mainImage2 {
position: relative;
margin: 21px 0px 0px;
width: 681.9602050781px;
max-width: 85%;
-o-object-fit: cover;
object-fit: cover;
}
.pet-wellness .flexRowMain {
position: relative;
display: flex;
justify-content: space-between;
gap: 0px 10px;
margin: 30px 0px 0px;
width: 100%;
}
@media (max-width: 991px) {
.pet-wellness .flexRowMain {
  flex-direction: column;
  align-items: center;
  gap: 30px 10px;
}
}
.pet-wellness .flexColInfo {
position: relative;
display: flex;
background-color: #7F9C00;
flex-direction: column;
align-items: center;
width: 350px;
min-width: 0px;
padding: 30px 28px 38px 26px;
}
@media (max-width: 991px) {
.pet-wellness .flexColInfo {
  margin-top: unset;
  margin-bottom: unset;
  width: 100%;
  min-width: unset;
}
}
@media (max-width: 383px) {
.pet-wellness .flexColInfo {
  padding: 30px 8px 38px 8px;
}
}
.pet-wellness .infoImage {
position: relative;
width: 186.0085144043px;
max-width: 85%;
border-radius: 8px 8px 8px 8px;
filter: drop-shadow(4px 4px 16px rgba(0, 0, 0, 0.247));
-o-object-fit: cover;
object-fit: cover;
}
.pet-wellness .infoTitle {
position: relative;
display: flex;
justify-content: center;
margin: 18px 0px 0px;
font: 700 24px/1.41 "Inter", Helvetica, Arial, serif;
color: white;
text-align: center;
letter-spacing: -0.6px;
}
@media (max-width: 991px) {
.pet-wellness .infoTitle {
  align-items: flex-start;
  font-size: 22px;
}
}
@media (max-width: 479px) {
.pet-wellness .infoTitle {
  font-size: 20px;
}
}
.pet-wellness .infoSubtitle {
position: relative;
display: flex;
justify-content: center;
margin: 15px 0px 0px;
font: 400 20px/1.45 "Inter", Helvetica, Arial, serif;
color: white;
text-align: center;
letter-spacing: -0.21px;
opacity: 0.64;
}
@media (max-width: 991px) {
.pet-wellness .infoSubtitle {
  align-items: flex-start;
  font-size: 18px;
}
}
@media (max-width: 479px) {
.pet-wellness .infoSubtitle {
  font-size: 16px;
}
}
.pet-wellness .flexRowButton {
position: relative;
display: flex;
align-items: center;
gap: 0px 16px;
margin: 43px 0px 0px;
width: 110.9943161011px;
max-width: 85%;
}
@media (max-width: 383px) {
.pet-wellness .flexRowButton {
  -moz-column-gap: 8px;
  column-gap: 8px;
}
}
.pet-wellness .ctaKnowMore {
position: relative;
font: 700 17px/1.88 "Inter", Helvetica, Arial, serif;
color: white;
letter-spacing: -0.71px;
}
@media (max-width: 991px) {
.pet-wellness .ctaKnowMore {
  align-items: flex-start;
  font-size: 16px;
}
}
.pet-wellness .buttonImage {
position: relative;
width: 12px;
height: 10px;
-o-object-fit: cover;
object-fit: cover;
}
.pet-wellness .flexColConsultation {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
width: 350px;
min-width: 0px;
background-color: #39a6ac;
padding: 30px 28px 38px 26px;
}
@media (max-width: 991px) {
.pet-wellness .flexColConsultation {
  margin-top: unset;
  margin-bottom: unset;
  width: 100%;
  min-width: unset;
}
}
@media (max-width: 383px) {
.pet-wellness .flexColConsultation {
  padding: 30px 8px 38px 8px;
}
}
.pet-wellness .consultationImage {
position: relative;
width: 186.0085144043px;
max-width: 85%;
border-radius: 8px 8px 8px 8px;
filter: drop-shadow(4px 4px 16px rgba(0, 0, 0, 0.247));
-o-object-fit: cover;
object-fit: cover;
}
.pet-wellness .consultationTitle {
position: relative;
display: flex;
justify-content: center;
margin: 18px 0px 0px;
font: 700 24px/1.41 "Inter", Helvetica, Arial, serif;
color: white;
text-align: center;
letter-spacing: -0.5px;
}
@media (max-width: 991px) {
.pet-wellness .consultationTitle {
  align-items: flex-start;
  font-size: 22px;
}
}
@media (max-width: 479px) {
.pet-wellness .consultationTitle {
  font-size: 20px;
}
}
.pet-wellness .consultationSubtitle {
position: relative;
display: flex;
justify-content: center;
margin: 15px 0px 0px;
font: 400 20px/1.45 "Inter", Helvetica, Arial, serif;
color: white;
text-align: center;
letter-spacing: -0.21px;
opacity: 0.64;
}
@media (max-width: 991px) {
.pet-wellness .consultationSubtitle {
  align-items: flex-start;
  font-size: 18px;
}
}
@media (max-width: 479px) {
.pet-wellness .consultationSubtitle {
  font-size: 16px;
}
}
.pet-wellness .flexRowButtonConsultation {
position: relative;
display: flex;
align-items: center;
gap: 0px 10px;
margin: 43px 0px 0px;
width: 104.9857940674px;
max-width: 85%;
}
@media (max-width: 383px) {
.pet-wellness .flexRowButtonConsultation {
  -moz-column-gap: 8px;
  column-gap: 8px;
}
}
.pet-wellness .ctaKnowMoreConsultation {
position: relative;
font: 700 17px/1.88 "Inter", Helvetica, Arial, serif;
color: white;
letter-spacing: -0.71px;
}
@media (max-width: 991px) {
.pet-wellness .ctaKnowMoreConsultation {
  align-items: flex-start;
  font-size: 16px;
}
}
.pet-wellness .buttonImageConsultation {
position: relative;
width: 12px;
height: 10px;
-o-object-fit: cover;
object-fit: cover;
}
.pet-wellness .flexColSpecialNeeds {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
width: 350px;
min-width: 0px;
background-color: #00ad97;
padding: 30px 28px 38px 26px;
}
@media (max-width: 991px) {
.pet-wellness .flexColSpecialNeeds {
  margin-top: unset;
  margin-bottom: unset;
  width: 100%;
  min-width: unset;
}
}
@media (max-width: 383px) {
.pet-wellness .flexColSpecialNeeds {
  padding: 30px 8px 38px 8px;
}
}
.pet-wellness .specialNeedsImage {
position: relative;
width: 186.0085144043px;
max-width: 85%;
border-radius: 8px 8px 8px 8px;
filter: drop-shadow(4px 4px 16px rgba(0, 0, 0, 0.247));
-o-object-fit: cover;
object-fit: cover;
}
.pet-wellness .specialNeedsTitle {
position: relative;
display: flex;
justify-content: center;
margin: 18px 0px 0px;
font: 700 24px/1.41 "Inter", Helvetica, Arial, serif;
color: white;
text-align: center;
letter-spacing: -0.5px;
}
@media (max-width: 991px) {
.pet-wellness .specialNeedsTitle {
  align-items: flex-start;
  font-size: 22px;
}
}
@media (max-width: 479px) {
.pet-wellness .specialNeedsTitle {
  font-size: 20px;
}
}
.pet-wellness .specialNeedsSubtitle {
position: relative;
display: flex;
justify-content: center;
margin: 15px 0px 0px;
font: 400 20px/1.45 "Inter", Helvetica, Arial, serif;
color: white;
text-align: center;
letter-spacing: -0.21px;
opacity: 0.64;
}
@media (max-width: 991px) {
.pet-wellness .specialNeedsSubtitle {
  align-items: flex-start;
  font-size: 18px;
}
}
@media (max-width: 479px) {
.pet-wellness .specialNeedsSubtitle {
  font-size: 16px;
}
}
.pet-wellness .flexRowButtonSpecialNeeds {
position: relative;
display: flex;
align-items: center;
gap: 0px 10px;
margin: 14px 0px 0px;
width: 104.9857940674px;
max-width: 85%;
}
@media (max-width: 383px) {
.pet-wellness .flexRowButtonSpecialNeeds {
  -moz-column-gap: 8px;
  column-gap: 8px;
}
}
.pet-wellness .ctaKnowMoreSpecialNeeds {
position: relative;
font: 700 17px/1.88 "Inter", Helvetica, Arial, serif;
color: white;
letter-spacing: -0.71px;
}
@media (max-width: 991px) {
.pet-wellness .ctaKnowMoreSpecialNeeds {
  align-items: flex-start;
  font-size: 16px;
}
}
.pet-wellness .buttonImageSpecialNeeds {
position: relative;
width: 12px;
height: 10px;
-o-object-fit: cover;
object-fit: cover;
}
.pet-wellness .servicesSection {
position: relative;
display: flex;
flex-direction: column;
}
.pet-wellness .servicesSection1 {
position: relative;
display: flex;
flex-direction: column;
width: 100%;
background: var(--src) center center/cover no-repeat;
}
.pet-wellness .flex_col {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
margin: 116px auto 896px;
width: 1097.9970703125px;
max-width: 85%;
}
@media (max-width: 991px) {
.pet-wellness .flex_col {
  margin: 116px auto 150px;
}
}
@media (max-width: 575px) {
.pet-wellness .flex_col {
  margin: 80px auto;
}
}
@media (max-width: 383px) {
.pet-wellness .flex_col {
  margin: 50px auto;
}
}
.pet-wellness .mainTitle_box {
position: relative;
display: flex;
justify-content: center;
width: 630.0283813477px;
max-width: 85%;
}
@media (max-width: 991px) {
.pet-wellness .mainTitle_box {
  align-items: flex-start;
}
}
.pet-wellness .mainTitle {
font: 700 48px/1.2 "Inter", Helvetica, Arial, serif;
color: white;
text-align: center;
letter-spacing: -1.8px;
}
@media (max-width: 991px) {
.pet-wellness .mainTitle {
  font-size: 44px;
}
}
@media (max-width: 479px) {
.pet-wellness .mainTitle {
  font-size: 36px;
}
}
.pet-wellness .mainTitle_span0 {
font: 700 1em/1.2 "Inter", Helvetica, Arial, serif;
}
.pet-wellness .mainTitle_span1 {
font: 900 1em/1.2 "Inter", Helvetica, Arial, serif;
}
.pet-wellness .mainTitle_span2 {
font: 700 1em/1.2 "Inter", Helvetica, Arial, serif;
}
.pet-wellness .mainTitle_span3 {
font: 900 1em/1.2 "Inter", Helvetica, Arial, serif;
}
.pet-wellness .mainTitle_span4 {
font: 700 1em/1.2 "Inter", Helvetica, Arial, serif;
}
.pet-wellness .flex_row {
position: relative;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
align-content: center;
gap: 0px 10px;
margin: 98px 0px 0px auto;
width: 100%;
}
@media (max-width: 1199px) {
.pet-wellness .flex_row {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 30px 10px;
}
}
@media (max-width: 575px) {
.pet-wellness .flex_row {
  margin: 80px 0px 0px auto;
}
}
@media (max-width: 383px) {
.pet-wellness .flex_row {
  margin: 50px 0px 0px auto;
}
}
.pet-wellness .flex_row1 {
position: relative;
display: flex;
justify-content: center;
align-content: center;
gap: 0px 18px;
width: 339px;
min-width: 0px;
}
@media (max-width: 1199px) {
.pet-wellness .flex_row1 {
  align-content: normal;
  -moz-column-gap: 18px;
  column-gap: 18px;
  margin-top: unset;
  margin-bottom: unset;
  width: 100%;
  min-width: unset;
}
}
@media (max-width: 575px) {
.pet-wellness .flex_row1 {
  -moz-column-gap: 16px;
  column-gap: 16px;
}
}
@media (max-width: 383px) {
.pet-wellness .flex_row1 {
  -moz-column-gap: 8px;
  column-gap: 8px;
}
}
.pet-wellness .improveIcon {
position: relative;
margin: 7px 0px 95px;
width: 47px;
height: 32px;
-o-object-fit: cover;
object-fit: cover;
}
@media (max-width: 575px) {
.pet-wellness .improveIcon {
  margin: 7px 0px 80px;
}
}
@media (max-width: 383px) {
.pet-wellness .improveIcon {
  margin: 7px 0px 50px;
}
}
.pet-wellness .flex_col1 {
position: relative;
display: flex;
flex-direction: column;
gap: 15px 0px;
width: 274px;
min-width: 0px;
}
.pet-wellness .improveTitle {
position: relative;
min-width: 0px;
font: 700 21px/1.52 "Inter", Helvetica, Arial, serif;
color: white;
letter-spacing: -0.6px;
}
@media (max-width: 991px) {
.pet-wellness .improveTitle {
  align-items: flex-start;
  font-size: 20px;
}
}
@media (max-width: 479px) {
.pet-wellness .improveTitle {
  font-size: 18px;
}
}
.pet-wellness .improveDescription {
position: relative;
min-width: 0px;
font: 400 17px/1.7 "Inter", Helvetica, Arial, serif;
color: white;
letter-spacing: -0.21px;
opacity: 0.64;
}
@media (max-width: 991px) {
.pet-wellness .improveDescription {
  align-items: flex-start;
  font-size: 16px;
}
}
.pet-wellness .flex_row2 {
position: relative;
display: flex;
justify-content: center;
align-content: center;
gap: 0px 23px;
width: 338px;
min-width: 0px;
}
@media (max-width: 1199px) {
.pet-wellness .flex_row2 {
  -moz-column-gap: 23px;
  column-gap: 23px;
  margin-top: unset;
  margin-bottom: unset;
  width: 100%;
  min-width: unset;
}
}
@media (max-width: 575px) {
.pet-wellness .flex_row2 {
  -moz-column-gap: 16px;
  column-gap: 16px;
}
}
@media (max-width: 383px) {
.pet-wellness .flex_row2 {
  -moz-column-gap: 8px;
  column-gap: 8px;
}
}
.pet-wellness .alliancesIcon {
position: relative;
margin: 6px 0px 92px;
width: 41px;
height: 36px;
-o-object-fit: cover;
object-fit: cover;
}
@media (max-width: 575px) {
.pet-wellness .alliancesIcon {
  margin: 6px 0px 80px;
}
}
@media (max-width: 383px) {
.pet-wellness .alliancesIcon {
  margin: 6px 0px 50px;
}
}
.pet-wellness .alliancesTitle {
position: relative;
min-width: 0px;
font: 700 21px/1.52 "Inter", Helvetica, Arial, serif;
color: white;
letter-spacing: -0.6px;
}
@media (max-width: 991px) {
.pet-wellness .alliancesTitle {
  align-items: flex-start;
  font-size: 20px;
}
}
@media (max-width: 479px) {
.pet-wellness .alliancesTitle {
  font-size: 18px;
}
}
.pet-wellness .alliancesDescription {
position: relative;
min-width: 0px;
font: 400 17px/1.7 "Inter", Helvetica, Arial, serif;
color: white;
letter-spacing: -0.21px;
opacity: 0.64;
}
@media (max-width: 991px) {
.pet-wellness .alliancesDescription {
  align-items: flex-start;
  font-size: 16px;
}
}
.pet-wellness .flex_row3 {
position: relative;
display: flex;
justify-content: center;
align-content: center;
gap: 0px 25px;
width: 339px;
min-width: 0px;
}
@media (max-width: 1199px) {
.pet-wellness .flex_row3 {
  -moz-column-gap: 25px;
  column-gap: 25px;
  margin-top: unset;
  margin-bottom: unset;
  width: 100%;
  min-width: unset;
}
}
@media (max-width: 575px) {
.pet-wellness .flex_row3 {
  -moz-column-gap: 16px;
  column-gap: 16px;
}
}
@media (max-width: 383px) {
.pet-wellness .flex_row3 {
  -moz-column-gap: 8px;
  column-gap: 8px;
}
}
.pet-wellness .infoIcon {
position: relative;
margin: 6px 0px 88px;
width: 40px;
height: 40px;
-o-object-fit: cover;
object-fit: cover;
}
@media (max-width: 575px) {
.pet-wellness .infoIcon {
  margin: 6px 0px 80px;
}
}
@media (max-width: 383px) {
.pet-wellness .infoIcon {
  margin: 6px 0px 50px;
}
}
.pet-wellness .infoTitle {
position: relative;
min-width: 0px;
font: 700 21px/1.52 "Inter", Helvetica, Arial, serif;
color: white;
letter-spacing: -0.6px;
}
@media (max-width: 991px) {
.pet-wellness .infoTitle {
  align-items: flex-start;
  font-size: 20px;
}
}
@media (max-width: 479px) {
.pet-wellness .infoTitle {
  font-size: 18px;
}
}
.pet-wellness .infoDescription {
position: relative;
min-width: 0px;
font: 400 17px/1.7 "Inter", Helvetica, Arial, serif;
color: white;
letter-spacing: -0.21px;
opacity: 0.64;
}
@media (max-width: 991px) {
.pet-wellness .infoDescription {
  align-items: flex-start;
  font-size: 16px;
}
}
.pet-wellness .flex_row4 {
position: relative;
display: flex;
justify-content: space-between;
gap: 0px 10px;
margin: 60px 0px 0px;
width: 99.64%;
}
@media (max-width: 1199px) {
.pet-wellness .flex_row4 {
  flex-direction: column;
  align-items: center;
  gap: 30px 10px;
}
}
@media (max-width: 383px) {
.pet-wellness .flex_row4 {
  margin: 50px 0px 0px;
}
}
.pet-wellness .flex_row5 {
position: relative;
display: flex;
justify-content: center;
align-content: center;
gap: 0px 22px;
width: 335px;
min-width: 0px;
}
@media (max-width: 1199px) {
.pet-wellness .flex_row5 {
  -moz-column-gap: 22px;
  column-gap: 22px;
  margin-top: unset;
  margin-bottom: unset;
  width: 100%;
  min-width: unset;
}
}
@media (max-width: 575px) {
.pet-wellness .flex_row5 {
  -moz-column-gap: 16px;
  column-gap: 16px;
}
}
@media (max-width: 383px) {
.pet-wellness .flex_row5 {
  -moz-column-gap: 8px;
  column-gap: 8px;
}
}
.pet-wellness .videoCallIcon {
position: relative;
margin: 7px 0px 95px;
width: 39px;
height: 32px;
-o-object-fit: cover;
object-fit: cover;
}
@media (max-width: 575px) {
.pet-wellness .videoCallIcon {
  margin: 7px 0px 80px;
}
}
@media (max-width: 383px) {
.pet-wellness .videoCallIcon {
  margin: 7px 0px 50px;
}
}
.pet-wellness .videoCallTitle {
position: relative;
min-width: 0px;
font: 700 21px/1.52 "Inter", Helvetica, Arial, serif;
color: white;
letter-spacing: -0.5px;
}
@media (max-width: 991px) {
.pet-wellness .videoCallTitle {
  align-items: flex-start;
  font-size: 20px;
}
}
@media (max-width: 479px) {
.pet-wellness .videoCallTitle {
  font-size: 18px;
}
}
.pet-wellness .videoCallDescription {
position: relative;
min-width: 0px;
font: 400 17px/1.7 "Inter", Helvetica, Arial, serif;
color: white;
letter-spacing: -0.21px;
opacity: 0.64;
}
@media (max-width: 991px) {
.pet-wellness .videoCallDescription {
  align-items: flex-start;
  font-size: 16px;
}
}
.pet-wellness .flex_row6 {
position: relative;
display: flex;
justify-content: center;
align-content: center;
gap: 0px 25px;
width: 339px;
min-width: 0px;
}
@media (max-width: 1199px) {
.pet-wellness .flex_row6 {
  margin-top: unset;
  margin-bottom: unset;
  width: 100%;
  min-width: unset;
}
}
@media (max-width: 767px) {
.pet-wellness .flex_row6 {
  -moz-column-gap: 25px;
  column-gap: 25px;
}
}
@media (max-width: 575px) {
.pet-wellness .flex_row6 {
  -moz-column-gap: 16px;
  column-gap: 16px;
}
}
@media (max-width: 383px) {
.pet-wellness .flex_row6 {
  -moz-column-gap: 8px;
  column-gap: 8px;
}
}
.pet-wellness .trackingIcon {
position: relative;
margin: 4px 0px 89px;
width: 40px;
height: 41px;
-o-object-fit: cover;
object-fit: cover;
}
@media (max-width: 575px) {
.pet-wellness .trackingIcon {
  margin: 4px 0px 80px;
}
}
@media (max-width: 383px) {
.pet-wellness .trackingIcon {
  margin: 4px 0px 50px;
}
}
.pet-wellness .trackingTitle {
position: relative;
min-width: 0px;
font: 700 21px/1.52 "Inter", Helvetica, Arial, serif;
color: white;
letter-spacing: -0.5px;
}
@media (max-width: 991px) {
.pet-wellness .trackingTitle {
  align-items: flex-start;
  font-size: 20px;
}
}
@media (max-width: 479px) {
.pet-wellness .trackingTitle {
  font-size: 18px;
}
}
.pet-wellness .trackingDescription {
position: relative;
min-width: 0px;
font: 400 17px/1.7 "Inter", Helvetica, Arial, serif;
color: white;
letter-spacing: -0.21px;
opacity: 0.64;
}
@media (max-width: 991px) {
.pet-wellness .trackingDescription {
  align-items: flex-start;
  font-size: 16px;
}
}
.pet-wellness .flex_row7 {
position: relative;
display: flex;
justify-content: center;
align-content: center;
gap: 0px 28px;
margin: 0px 0px 29px;
width: 339px;
min-width: 0px;
}
@media (max-width: 1199px) {
.pet-wellness .flex_row7 {
  margin-top: unset;
  margin-bottom: unset;
  width: 100%;
  min-width: unset;
}
}
@media (max-width: 575px) {
.pet-wellness .flex_row7 {
  -moz-column-gap: 16px;
  column-gap: 16px;
}
}
@media (max-width: 383px) {
.pet-wellness .flex_row7 {
  -moz-column-gap: 8px;
  column-gap: 8px;
}
}
.pet-wellness .paymentsIcon {
position: relative;
margin: 6px 0px 64px;
width: 37px;
height: 35px;
-o-object-fit: cover;
object-fit: cover;
}
@media (max-width: 383px) {
.pet-wellness .paymentsIcon {
  margin: 6px 0px 50px;
}
}
.pet-wellness .flex_col2 {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
gap: 15px 0px;
width: 274px;
min-width: 0px;
}
.pet-wellness .paymentsTitle {
position: relative;
min-width: 0px;
font: 700 21px/1.52 "Inter", Helvetica, Arial, serif;
color: white;
letter-spacing: -0.5px;
}
@media (max-width: 991px) {
.pet-wellness .paymentsTitle {
  align-items: flex-start;
  font-size: 20px;
}
}
@media (max-width: 479px) {
.pet-wellness .paymentsTitle {
  font-size: 18px;
}
}
.pet-wellness .paymentsDescription {
position: relative;
min-width: 0px;
font: 400 17px/1.7 "Inter", Helvetica, Arial, serif;
color: white;
letter-spacing: -0.21px;
opacity: 0.64;
}
@media (max-width: 991px) {
.pet-wellness .paymentsDescription {
  align-items: flex-start;
  font-size: 16px;
}
}
.socialProof {
position: relative;
display: flex;
gap: 0px 5px;
margin: 61px 0px 0px;
width: 5.1%;
}
.socialIcon1 {
position: relative;
width: 15px;
min-width: 0px;
height: 15px;
}
.socialIcon2 {
position: relative;
width: 15px;
min-width: 0px;
height: 15px;
}
.socialIcon3 {
position: relative;
width: 15px;
min-width: 0px;
height: 15px;
}